<div class=" fixe-form animate__animated animate__fadeInLeft">

{{ form_start(form,{attr: {class: 'fixe-form'}}) }}

    {{ form_row(form.motCle) }}
    <h4>Promotions</h4>
    {{ form_row(form.promo) }}
    <h4>Catégories</h4>
    {{ form_row(form.categories) }}
    <h4>Prix</h4>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.prixMin) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.prixMax) }}
        </div>
    </div>

    <button type="submit" class="btn btn-primary w-100">Rechercher</button>

{{ form_end(form) }}
</div>